@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 900;
}

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Averta", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

a {
  color: #ffffff;
}

a:hover {
  color: #d65aff;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.5em;
}

/* Styling Required for Radix Components */
.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
