@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --xs: 575px; /* Max container width None (auto) */
  --sm: 576px; /* Max container width 540px */
  --md: 768px; /* Max container width 720px */
  --lg: 992px; /* Max container width 960px */
  --xl: 1200px; /* Max container width 1140px */

  --shadow: #5c5c5c4d;

  --white: 0 0% 96%;
  --black: 220 7% 8%;

  --font-primary: 221 16% 23%;
  --font-secondary: 211 50% 27%;
  --background: 69 20% 93%; /* traffic white */

  --navbar: 277 31% 35%;

  --link-color: 45 100% 42%;
  --link-color-hover: 211 80% 16%;
  --link-color-active: 211 80% 16%;
  --link-color-visited: 45 100% 42%;

  --link-text: 0 0% 9%;

  --primary: 228 46% 37%;
  --primary-hover: 228 50% 40%;
  --primary-focus: 228 54% 43%;
  --primary-active: 228 58% 46%;
  --primary-after: 228 46% 49%;
  --primary-faded: hsla(228, 46%, 49%, 0.7);

  --primary-dark: 275 50% 20%;
  --primary-dark-hover: 275 55% 22%;
  --primary-dark-focus: 275 60% 24%;
  --primary-dark-active: 275 75% 26%;

  --secondary: 211 67% 20%;
  --secondary-hover: 211 74% 22%;
  --secondary-focus: 211 80% 24%;
  --secondary-active: 211 84% 26%;
  --secondary-faded: hsla(211, 84%, 28%, 0.2);

  --secondary-dark: 180 50% 18%;
  --secondary-dark-hover: 180 53% 19%;
  --secondary-dark-focus: 180 55% 20%;
  --secondary-dark-active: 180 56% 21%;

  --accent: 141 60% 25%;
  --accent-hover: 141 70% 28%;
  --accent-focus: 141 80% 31%;
  --accent-active: 141 80% 34%;
  --accent-faded: hsla(141, 60%, 25%, 0.2);

  --success: 111 40% 30%;
  --success-hover: 111 42% 32%;
  --success-focus: 111 44% 34%;
  --success-active: 111 46% 36%;

  --info: 214 55% 58%;
  --info-hover: 214 60% 54%;
  --info-focus: 214 65% 52%;
  --info-active: 214 70% 48%;

  --warning: 28 65% 58%;
  --warning-hover: 28 70% 56%;
  --warning-focus: 28 75% 54%;
  --warning-active: 28 80% 52%;

  --error: 0 74% 60%;
  --error-hover: 0 76% 58%;
  --error-focus: 0 78% 56%;
  --error-active: 0 80% 54%;
}

[data-theme="dark"] {
  --font-primary: 230 20% 80%;
  --font-secondary: 214 28% 66%;

  --background: 216 18% 16%;
  --navbar: 217 10% 25%;

  --link-color: 290 100% 85%;
  --link-color-hover: 228 100% 85%;
  --link-color-active: 204 3% 70%;
  --link-color-visited: 214 42% 48%;
  --link-text: 230 20% 80%;

  --shadow: #b5b5b54d;

  --primary: 277 35% 51%;
  --primary-hover: 277 43% 47%;
  --primary-focus: 277 54% 44%;
  --primary-active: 277 67% 40%;
  --primary-after: 278 83% 36%;
  --primary-faded: 277 67% 40%;

  --primary-dark: 275 50% 20%;
  --primary-dark-hover: 275 55% 22%;
  --primary-dark-focus: 275 60% 24%;
  --primary-dark-active: 275 75% 26%;

  --secondary: 189 100% 21%;
  --secondary-hover: 189 100% 28%;
  --secondary-focus: 189 90% 30%;
  --secondary-active: 189 80% 32%;
  --secondary-faded: hsla(189, 70%, 26%, 0.2);

  --secondary-dark: 180 50% 18%;
  --secondary-dark-hover: 180 53% 19%;
  --secondary-dark-focus: 180 55% 20%;
  --secondary-dark-active: 180 56% 21%;

  --accent: 320 50% 50%;
  --accent-hover: 320 60% 52%;
  --accent-focus: 320 70% 54%;
  --accent-active: 320 80% 56%;
  --accent-faded: hsla(320, 50%, 50%, 0.2);

  --success: 111 40% 30%;
  --success-hover: 111 42% 32%;
  --success-focus: 111 44% 34%;
  --success-active: 111 46% 36%;

  --info: 214 55% 58%;
  --info-hover: 214 60% 54%;
  --info-focus: 214 65% 52%;
  --info-active: 214 70% 48%;

  --warning: 28 65% 58%;
  --warning-hover: 28 75% 56%;
  --warning-focus: 28 85% 54%;
  --warning-active: 28 95% 52%;

  --error: 0 75% 60%;
  --error-hover: 0 80% 55%;
  --error-focus: 0 85% 50%;
  --error-active: 0 90% 45%;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Averta";
  src: url("/fonts/Averta-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 900;
}

@layer base {
  html {
    font-size: 16px;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Averta", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    line-height: 1.6;
  }

  a,
  .dark a {
    color: hsl(var(--link-color));

    text-decoration-line: none;
    text-decoration-thickness: 1px;
    text-decoration-style: solid;
    text-decoration-color: inherit;
  }
  a:visited,
  .dark a:visited {
    color: hsl(var(--link-color-visited));
  }
  a:hover,
  .dark a:hover {
    color: hsl(var(--link-color-hover));
    text-decoration-line: underline;
  }

  a:visited:hover,
  .dark a:visited:hover {
    color: hsl(var(--link-color-hover));
    text-decoration-line: underline;
  }

  a:focus,
  .dark a:focus {
    color: var(--link-color-active);
  }
  a:active:focus,
  .dark a:active:focus {
    color: hsl(var(--link-color-active));
  }
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.5em;
  }
}

/* Styling Required for Radix Components */
.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

.clip-top {
  clip-path: inset(0px 0px -60px -60px);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
